:root{
  /* #ffffff, #C2C2D3, #4E4E81 ,#000030 */
  --bg-one: #ccccdf;
  --bg-two: #626277;
  --bg-three: #343443;
  --bg-four: #020210;
}

@font-face {
  font-family: "alpha-rush";
  src: url('./assets/Alpharush.ttf');
}

h2{
  font-family: "alpha-rush";
  font-size: 0pt;
}

h4{
  font-family: "alpha-rush";
  font-style: italic;
}

h5{
  font-family: "alpha-rush";
}

h6{
  font-family: "alpha-rush";
}

p{
  font-family: "alpha-rush";
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-right: 0px!important;
  background-color: white;
}

main{
  flex-grow: 1;
}

img{
  object-fit: contain;
  max-height: 60vh;
  min-width: auto;
}

.main-image{
  cursor: pointer;
}

.h-85{
  min-height: 85vh;
}

.h-15{
  min-height: 15vh;
}

/* this style may need to change */
.minheight-40{
  min-height: 40%;
}
.minheight-30{
  min-height: 30%;
}

.minwidth100{
  min-width: 100%;
}

.test-height{
  min-height: 15vh;
}

.offcanvas-end{
  width: 215px!important;
}

.upgrade-menu{
  max-height: 42vh;
}

.storeButton{
  font-family: "alpha-rush";
  margin-right: 20px;
}

.store-label{
  font-size: x-small;
}

.accent-bar{
  background-color: yellow;
  min-width: 3px;
  min-height: 8px;
  margin: 1rem;
  height: 3rem;
}
.accent-bar.small{
  height: 2rem;
}